<h2>@ViewBag.Title</h2>

@await Html.PartialAsync("_FormPartial")
<a asp-controller="AddDelete" asp-action="AddFurnitureCategory">Add Furniture Category</a>
<a asp-controller="AddDelete" asp-action="AddFurniture">Add Furniture </a>