@model Pickup.Models.ViewViewModel.ViewInformationViewModel



<ul>
    <li>@Model.FirstName</li>
    <li>@Model.PickupDateTime</li>
    <li>@Model.Scheduler</li>
    <li>@Model.StreetAddress</li>
</ul>