
/* Autocomplete City */

.autocomplete {
    position: relative;
    padding: 0;
    margin: 0;
}



.autocomplete-items {
    width: 56%;
    position: absolute;
    border: 1px solid #4c4132;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 20%;
    right: 0;
    box-shadow: 3px 3px 5px #3f2f0d;
}

    .autocomplete-items div {
        padding: 5px;
        cursor: pointer;
        background: #c67b13;
        border-bottom: 1px solid #915f1b;
    }

        .autocomplete-items div:hover {
            background-color: #915f1b;
            color: #fff;
        }

.autocomplete-active {
    background-color: #4f3108 !important;
    color: #ffffff;
}
