
/*SCHEDULE MATRIX*/

#schedulematrix {
    width: 100%;
    margin-top: 25px;
}

    #schedulematrix ul {
        display: table-row;
    }

.day {
    display: table-cell;
    padding: 15px;
    background: #fff;
    border: 1px dotted #49545b;
    box-shadow: 2px 2px 2px #b7c2c9;
    font-size: 1em;
    width: 13%;
}

    .day h3 {
        color: #334c72;
        margin: 0;
        text-align: center;
    }

h4.the-date {
    color: #8ba1af;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #eee;
    padding-left: 10px;
}

h4.the-date {
    font-weight: lighter;
    margin: 0;
}

.schedule, h4.the-date {
    border-bottom: 1px solid #608696;
    padding-bottom: 16px;
}

    .schedule li {
        margin: 0;
        font-size: 0.9em;
        text-shadow: 1px 1px 1px #ddd;
        color: #261f15;
    }

    .schedule ul {
        height: 40px;
    }

h3.thetime {
    margin-top: 25px;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
}

.schedule a {
    border-bottom: none;
}

#saturday {
    background: #ddd;
}

.deliver {
    text-transform: uppercase;
    color: #cc5f0c;
    padding-top: 6px;
}


#matrix {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
}

    #matrix td, #matrix th {
        width: 15%;
        padding: 8px;
        border: 1px solid #000;
    }

.sat {
    background: #ccc;
}

.schedule a .delivery {
    color: #d17b36;
    font-weight: bold;
}

#weeklylinks {
    text-align: right;
    font-size: 1.2em;
}

/* MONTHLY CALENDAR MINI*/

#monthly-calendar-mini {
    width: 97%;
    margin: auto;
    text-align: center;
}

#monthly-calendar-mini th {padding: 6px;
   font-weight: bold;
}

.pickups-0 {
    background: #fff;
}

.pickups-1 {
    background: #d7eff2;
}

.pickups-2 {
    background: #bedce0;
}

.pickups-3 {
    background: #8bbdc4;
}

.pickups-4 {
    background: #7fbac1;
}

.pickups-5 {
    background: #6b9399;
}

td div {
    padding: 5px;
    border-radius: 5px;
    background: #51777c;
}

td a {color: #000;
          border: none;
}
