
/*SEARCH*/

#content-search {
    margin: 15px;
    padding: 15px;
}

    #content-search h2 {
        font-size: 1.6em;
    }

    #content-search h3 {
        margin-top: 0;
        padding-top: 0;
    }

    #content-search ul {
        margin-left: 0;
        padding-left: 0;
    }

.donor-result {
    background: #ede4dc;
    box-shadow: 3px 3px 3px #dbcec3;
    padding: 5px;
    margin: 10px;
}
.address {
    border-left: 1px dashed #ddd;
}
.address p {margin-top: 0;
              padding-top: 0;
}
.pickup-link {padding-bottom: 20px;}
.name {
    font-weight: bolder;
}

/* Existing Donors */
.existing-person-list {width: 60%;}