body {
    font: 1.25em sans-serif;
    color: #000;
}

a {
    color: #4f9fbc;
}

label {width: 20%;
       float:left;
}

input, textarea, select {width: 76%;
                         font-size: 1em;
}

nav {float: left;
     width: 20%;
}

nav li {list-style: none;
        margin: 8px 0;
}

#content {float: right;
    width: 76%;
}

nav button {
    border: none;
    background: #fff;
    color: #4f9fbc;
    font: 1em sans-serif;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

footer {clear: both;}

#matrix {width: 100%;
         border-collapse: collapse;
         border: 1px solid #000;
}

#matrix td, #matrix th {width: 15%;
                        padding: 8px;
            border: 1px solid #000;
}

.sat {background: #ccc;}

.form-group {margin: 10px 0;
             clear: both;
}