body {
    font: 1.25em sans-serif;
    color: #000;
}

a {
    color: #4f9fbc;
}

nav {float: left;
     width: 20%;
}

nav li {list-style: none;
        margin: 8px 0;
}

#content {float: right;
    width: 76%;
}

nav button {
    border: none;
    background: #fff;
    color: #4f9fbc;
    font: 1.25em sans-serif;
}

footer {clear: both;}

#matrix {width: 100%;
         border-collapse: collapse;
         border: 1px solid #000;
}

#matrix td, #matrix th {width: 15%;
                        padding: 8px;
            border: 1px solid #000;
}

.sat {background: #ccc;}