/*SCHEDULE MATRIX*/
@import url("/css/schedule.css");

/* VIEW PICKUP/DELIVERY */
@import url("/css/viewinfo.css");

/* City Autocomplete */
@import url("/css/cityautocomplete.css");

/* SEARCH*/
@import url("/css/search.css");

/* FURNITURE LIST*/
@import url("/css/furniturelist.css");

body {
    font: 1.25em arial, sans-serif;
    color: #000;
    background: #b2a89e;
    padding: 0;
    margin: 0;
}

a, #side button {
    color: #2ca3c1;
    border-bottom: 1px solid #db9a20;
    text-decoration: none;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

    a:hover {
        color: #c67000;
    }

label {
    width: 20%;
    float: left;
}

input, textarea, select, button, span.furn-item, .button {
    font: 1em sans-serif;
    height: 1.8em;
    background: #c67b13;
    border: none;
    color: #fff;
    box-shadow: 3px 3px 5px #3f2f0d;
}

input, textarea, select {
    width: 56%;
}

textarea {height: 50px;}

    input:hover, button:hover, .button:hover {
        background: #b56a02;
    }

button {
    display: block;
    margin-left: 1em;
}
ul {
list-style: none;}

h1, h1 a, h1 a:hover {
    color: #000;
    margin: 1px 0 0 70px;
    border-bottom: none;
    font-size: 2.3em;
    font-weight: bold;
    text-shadow: -2px 2px 5px #9e6a17;
    padding: 13px 0 0 0;
}

h2 {
    color: #60503e;
    font: 3em arial, sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 5px;
}

h3{
    color: #555;
    text-shadow: 1px 1px 1px #c9baa5;
}

h4{
    margin: 0 0 8px 0;
}

/* HEADER */
header {
    background: #fff url('/images/hep-logo.png') top left no-repeat;
    height: 150px;
    padding: 0;
    margin: 0;
    box-shadow: -3px -3px 5px #5e534c;
}

/* TOP NAV BAR */

#top {
    background: #443e33;
    color: #e5dfd7;
    padding: 15px;
    box-shadow: 4px 4px 4px 4px #7a736e;
}

    #top ul, #top li {
        display: inline;
    }

    #top li {
        padding: 6px 40px 10px 20px;
        font-size: 1.3em;
        font-variant: small-caps;
        border-right: 6px solid #776456;
    }

        #top li a {
            border: 0;
            text-shadow: 2px 2px 2px #5f554d;
        }


/* FOOTER */

footer {
    clear: both;
    padding: 1px;
    background: #826e51;
    box-shadow: 1px -1px 1px #6d5d45;
}

    footer p {
        margin-left: 20px;
        padding: 0;
    }

    footer, footer a, footer a:hover {
        color: #fff;
    }

/* SIDEBAR STYLE */
#side {
    float: left;
    width: 23%;
    margin-left: 10px;
    margin-top: 10px;
}

#side p, #side form {padding: 0 10px 10px 10px;
}

#side button {display: inline;}

    #side ul {
        margin-left: 5px;
        padding-bottom: 10px;
    }

    #side h2 {
        font: 1.5em arial;
        padding-left: 7px;
        font-weight: bold;
        text-shadow: 1px 1px #e5e1dc;
    }

.sidebar {
    margin-bottom: 10px;
}
/* CONTENT*/

#content {
    float: right;
    width: 73%;
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
}


    #content h2 {
        text-shadow: 3px 3px 3px #e5e1dc;
    }

    #content input[type="number"] {
        width: 45px;
        box-shadow: 1px 1px 1px #444;
    }

    #content input[type="checkbox"] {
        width: 45px;
        box-shadow: none;
    }


/* MULTIPLES */

#content, .sidebar, #content-search {
    background: #fff;
    border-top: 6px solid #c18441;
    box-shadow: 3px 3px 5px #7a736e;
}


.form-group, .autocomplete {
    margin: 1em;
    clear: both;
}

.button, .button:hover {padding: 10px;
                        color: #fff;
                        cursor: default;
}

.pdschedule {display: inline-grid;
             height: 170px;
border-left: 1px solid #b2a89e;
padding: 10px;
}

.pdschedule ul {
    margin: 0 20px;
    padding: 0;
}

/* OTHER */
.form-side {float: left;
               margin-bottom: 16px;
               margin-right: 0;
}

    .form-side label, .form-side input {
        width: auto;
        margin-right: 16px;
   }

.extra-padding {padding-bottom: 30px;}
    

