
#pickupinfo {
    margin: 16px 0 20px 35px;
    border-collapse: collapse;
    line-height: 1.2em;
}

    #pickupinfo td {
        padding: 16px;
        vertical-align: top;
    }

    #pickupinfo tr:nth-child(odd) {
        background: #f2ede3;
    }

    #pickupinfo th {
        font-size: 1.5em;
        padding: 10px;
    }

.property-name {
    padding-right: 45px;
    font-weight: bold;
}

table#furniture-list-view {
    padding: 0;
    margin: 0;
}

#furniture-list-view tr, #furniture-list-view tr:nth-child(odd) {
    height: 1.6em;
    background: transparent;
}

#pickupinfo .furniture-list-view {
    background: transparent;
}

#furniture-count-descr {
    padding-right: 15px;
    background: transparent;
}

#view-options {
    display: none;
}

#cancelled {
    color: #99410f;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px #ddd;
}
