@model List<IdentityRole>

<h2>Admin Page</h2>
<p><a asp-controller="Admin" asp-action="CreateUser">Create New User</a></p>
<h3>Manage Users</h3>
<p>Click on a role to manage users in that role.</p>
<ul>
    @foreach (var x in Model)
    {
        @if (x.Name != "SuperAdmin" && x.Name != "Admin")
        {
            <li><a asp-action="Thing" asp-controller="Admin" asp-route-roleId="@x.Id">@x.Name</a></li>
        }
    }
</ul>