@model Pickup.Models.DonationPickupViewModels.QuantityList
<li><div class="piece">
    @Html.TextBoxFor(x => x.Quantity, new { @class = "quantity"})
    @Html.LabelFor(x => x.Quantity, Model.Name, new { @class = "furn-item" })

    @Html.HiddenFor(x => x.ID)
    </div>
</li>