@model Pickup.Models.PickupDeliveryViewModels.ItemPickupViewModel

<h2> Manage Items </h2>

<ul>
    <li><a asp-controller="ManageItems" asp-action="AddItem">Add item</a></li>
    <li><a asp-controller="ManageItems" asp-action="CreateCategory">Create category</a></li>
</ul>

<hr />

@for (int i = 0; i < Model.FurnitureList.Count; i++)
{
    <h3>@Model.FurnitureList[i].Category.Name</h3>
        <ul>
   @for (int j = 0; j < Model.FurnitureList[i].Furniture.Count; j++)
   {
       <li>@Model.FurnitureList[i].Furniture[j].Name</li>

   }
        </ul>
}
