<h2> Manage Items </h2>

<ul>
    <li><a href="#">Add item</a></li>
    <li><a asp-controller="ManageItems" asp-action="CreateCategory">Create category</a></li>
</ul>

<h3>Categories and Items </h3>
<p>Each category will expand a list of items in said category.</p>