@model Pickup.Models.BlacklistViewModels.AddtoBlacklistViewModel

<h2>Add @Model.FirstName @Model.LastName to Blacklist</h2>

<p> Please enter a reason for blacklisting. Schedulers will no longer be able to schedule a pickup or delivery for this person. </p>

<form method="post">
    <input asp-for="CustomerID" />
     <div class="form-group">
        <label asp-for="Reason"></label>
        <textarea asp-for="Reason"></textarea>
    </div>

    <button type="submit">Add to Blacklist</button>
    </form>
