@model Pickup.Models.BlacklistViewModels.AddtoBlacklistViewModel

<h2> Search Name</h2>
<p>All fields are required.</p>
<form>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
    </div>


    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
    </div>

    <button type="submit">Search Name</button>
</form>
