@model PickupOrDelivery

@{ 
    string pd = "Pickup";
    if (Model.Delivery)
    {
        pd = "Delivery";

    }
}

<h2>Cancel @pd</h2>
<p>Are you sure you want to cancel this @pd? </p>
<form method="post">
    <input type="hidden" asp-for="ID" />
    <button>Yes, cancel this @pd!</button>
    </form>
<p>
    <a asp-controller="Home" asp-action="View" asp-route-id="@Model.ID">
    &laquo; Go back to @pd
        </a>
</p>
