@model List<Furniture>

<h2>Add Furniture</h2>
<form method="post">
    <input type="hidden" value="" />
@foreach (var item in Model)
{

    <input type="number" name="@item.ID" id="@item.Name" /> @item.Name

}
    </form>
