@model Pickup.Models.DonationPickupViewModels.CheckBoxItem

<div class="checkbox-list-item">
    <div class="form-check">
        <label class="form-check-label">
            @Html.CheckBoxFor(m => m.IsChecked, new { @class = "form-check-input" })
            @Model.Name
        </label>
    </div>
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.Name)
</div>