<h2>@ViewBag.Title</h2>
<p>Fields marked with a * are required. <a href="Search"
   target="popup" 
   onclick="window.open('/Search','popup','width=600,height=600'); return false;" title="LOOKUP DONOR">
Search for existing donor.</a></p>

@await Html.PartialAsync("_FormPartial")


