@using Pickup.Models.DonationPickupViewModels
@model FurnitureDeliveryViewModel

<h2>Furniture Delivered</h2>
<p>Enter a description of the items being delivered. This will help the 
    drivers find the item(s) easier.</p>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.DeliveryID)
    <ul> @Html.EditorFor(m => m.FurnitureDelivered)</ul>

    <button id="clear" type="submit">Add Furniture Delivered</button>}
