@using Pickup.Models.DonationPickupViewModels
@model FurniturePickupViewModel

<h2>Furniture Picked Up</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.PickupID)
   <ul> @Html.EditorFor(m => m.FurnitureList)</ul>

<button id="clear" type="submit">Add Furniture Picked Up</button> }
