@using Pickup.Models.DonationPickupViewModels
@model FurniturePickupViewModel

<h2>@ViewBag.Title</h2>
<form method="post">
    <input asp-for="PickupID" />

    
    <select asp-for="Furniture" asp-items="Model.Furniture"></select>
    <button id="clear" type="submit">Add @ViewBag.Title</button>
</form>