@using Microsoft.AspNetCore.Identity
@using Pickup.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Welcome!</h2>
@if (SignInManager.IsSignedIn(User))
{
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <a asp-controller="AddDelete" asp-action="Index">Add Furniture/Furniture Categories</a><br />
<a asp-controller="PickupDelivery" asp-action="Customer">Start scheduling!</a><br />
    <a asp-controller="Manage" asp-action="Index">View Account Details</a><br />
    <a asp-controller="Schedule" asp-action="Index">View current pickup schedule</a>
}
else
{ 
<p>This application is designed to make scheduling of pickups and deliveries easier. 
    </p>
}
