@{
    ViewData["Title"] = "Home Page";
}
    <h2>Schedule Matrix</h2>

<p>Coming soon!</p>
<!--<table id="matrix">
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th class="sat">Saturday</th>
    </tr>
    <tr>
        <td>dgfjsgdfdgs</td>
        <td>fhgdfjgdsjfgjh</td>
        <td>dhsgfjgdshf</td>
        <td>fsdfsdfs</td>
        <td>fdsjfdsk</td>
        <td class="sat">fdskfsdjfh</td>
    </tr>
</table>-->
