@using Microsoft.AspNetCore.Identity
@using Pickup.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{<nav id="top">
<ul id="navigation-bar">
    <li><a asp-controller="PickupDelivery" asp-action="Customer">New Pickup/Delivery</a></li>
    <li><a asp-controller="Schedule" asp-action="Index">Schedule Matrix</a></li>
</ul>

    
</nav>


    <nav id="side">

        <div class="sidebar">
            <h2>Calendar</h2>
            <p>Coming soon!</p>
        </div>

        <div class="sidebar">
            <h2>Account</h2>
            <p>Logged in as <a asp-controller="Manage" asp-action="Index">@User.Identity.Name </a></p>

            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Logout" class="btn btn-primary" />
}
        </div>

    </nav>

}
else
{ <nav id="top">
    </nav>


    <nav id="side">


        <div class="sidebar">

            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>

    </nav>

}
