@using Microsoft.AspNetCore.Identity
@using Pickup.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{<div id="top">


        <ul>
            <li><a asp-controller="PickupDelivery" asp-action="Customer">Pickup / Delivery</a></li>
            <li><a asp-controller="Home">Schedule Matrix</a></li>
            <li><a href="#">Blacklist</a></li>
            <li><a href="#">Search</a></li>
            <li><a asp-controller="Manage" asp-action="Index">Account</a></li>

        </ul>
    </div>
}
else
{<div id="top">
    You must be an approved user to view this page.

    <ul>
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
    </div>
}
