@using Microsoft.AspNetCore.Identity
@using Pickup.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<nav id="side">
    @if (SignInManager.IsSignedIn(User))
    {
    <div class="sidebar">
        <h2>Calendar</h2>
        <div id="minicalendar">
            @await Component.InvokeAsync("Calendar")
        </div>
    </div>

    <div class="sidebar">
        <h2>Account</h2>
        <p>Logged in as <a asp-controller="Manage" asp-action="Index">@User.Identity.Name</a></p>

        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Logout" />
        }
    </div>
    }

</nav>
