<h2>Error</h2>

<p>Oops, something went wrong here! </p>
<h3>Quick Links</h3>
<ul>
    <li><a asp-controller="Schedule" asp-action="HomePage">Go to Homepage</a></li>
    <li><a asp-controller="PickupDelivery" asp-action="Customer">Schedule New Pickup/Delivery</a></li>
</ul>