@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>


    <h3>Change your account settings</h3>
            @await Html.PartialAsync("_ManageNav")
        
            @RenderBody()
      

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
