@model Pickup.Models.PickupDeliveryViewModels.AddressViewModel

<h2>@ViewBag.Title</h2>
<p>Fields marked with an * are required.</p>
<form autocomplete="off" method="post">
<input asp-for="CustomerId" />
    <input asp-for="AddressId" />

<div class="form-group">
    <label asp-for="Street">Street Address *</label>
    <input asp-for="Street" required />
    <span asp-validation-for="Street"></span>
</div>


<div class="form-group">

    <label asp-for="Apartment"></label>
    <input asp-for="Apartment" />

</div>

<div class="autocomplete">
    <label asp-for="City">City *</label>
    <input asp-for="City" id="myInput" required />
</div>

<div class="form-group">

    <label asp-for="ZIP">ZIP Code *</label>
    <input asp-for="ZIP" required />

</div>

<div class="form-group">

    <label asp-for="Neighborhood"></label>
    <input asp-for="Neighborhood" />
    </div>

<div class="form-group">
    <label asp-for="BottomFloor">Bottom Floor? *</label>
    <select asp-for="BottomFloor">
        <option value="Yes">Yes</option>
        <option value="No - There is an elevator">No - There is an elevator</option>
        <option value="No - No elevator">No - No Elevator</option>
    </select>
</div>


    <button type="submit">@ViewBag.Button</button>
    </form>
<script src="~/js/cityautocomplete.js"></script>