<h2>Create New Pickup</h2>
<a href="Search"
   target="popup"
   onclick="window.open('/Schedule/?weekId=0&popup=true','popup','width=800,height=600'); return false;" title="Week's schedule">
    This week's schedule
</a>

@await Html.PartialAsync("_FormPartial")
